<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>datetime="%d{YYYY-MM-dd HH:mm:ss.SSS}" [%thread] %-5level %logger %X- %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  // ERROR, WARN, INFO, DEBUG
      <level>ERROR</level>
    </filter>
    <file>log.txt</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger %X- %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.familysearch.java.badge.Cool" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <!--<root level="error">-->
    <!--<appender-ref ref="STDOUT" />-->
    <!--<appender-ref ref="FILE" />-->
  <!--</root>-->
</configuration>
